.home-section{
    width: 100%;
    height: calc(100vh - 47px);
    background-color: aquamarine;

    display: flex;
    justify-content: center;
    align-items: center;
}
.home-card{
    border-radius: 10px;
    box-shadow: 0px 0px 10px 5px #cadeff;
    padding: 30px;
    background-color: #ffffff;
}