/* Reset some default styles */
body, ul {
    margin: 0;
    padding: 0;
}

/* Style the navbar */
.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    text-decoration: none;
    font-size: 24px;
    color: #fff;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #00bcd4; /* Change color on hover */
}

 /* sidebar */

 .sidebar-main{
    height: calc(100vh - 47px);
    width: 20vw;
    background: #00aadd;
 }